<div class="col-md-8 col-md-offset-2">
    <h4>Log in:</h4>
    <hr style="display: block;
                height: 1px;
                border: 0;
                border-top: 1px solid #fff200;
                margin: 1em 0;
                padding: 0;
                background-color:#fff200;">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="userName">Gebruikersnaam: </label>
            <input
                    type="text"
                    id="userName"
                    class="form-control"
                    formControlName="userName">
        </div>
        <div class="form-group">
            <label for="password">Wachtwoord:</label>
            <input
                    type="password"
                    id="password"
                    class="form-control"
                    formControlName="password">
        </div>
        <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!myForm.valid">Submit</button>
    </form>
